.rpi_online {
  #pi_logo {
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #2da745;
  }
}

.rpi_offline {
  #pi_logo {
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #dc3544;
  }
}

.arduino_online {
  #arduino_logo {
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #2da745;
  }
}

.arduino_offline {
  #arduino_logo {
    border-radius: 50%;
    box-shadow: 0 0 20px 10px #dc3544;
  }
}

.container_c {
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chat-container {
  height: 320px;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;

  .message {
    border-bottom: solid 1px #ccc;
    padding: 20px;
    transform: rotate(180deg);
    direction: ltr;
    .avatar {
      float: left;
      margin-right: 5px;
    }
  }

  .datetime {
    float: right;
    color: #999;
  }

  .send-message-form {
    input {
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 10px;
    }

    button {
      display: none;
    }
  }
}
